<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login de Usuario</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="/css/footer.css">
</head>
<body>
 <nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand bg-white px-2" href="#" th:href="@{/Index}">  PROYECTO HACKATON  </a>
  </div>
</nav>
	<div class="container bg-dark text-white py-4 mt-5 w-25">
		<h1 class="text-center"> Iniciar Sesion </h1>
		<form th:action="@{/authenticate}" method="post" class="px-3"  >

			<label class="form-label" for="username">Nombre de Usuario</label>
			<input class="form-control" th:field="${authenticationRequest.username}" id="username" type="text"  required>
			<br>

			<label class="form-label" for="password">Contraseña</label>
			<input class="form-control" th:field="${authenticationRequest.password}" id="password" type="password" required>
			<br>

			<a class="btn btn-primary text-center" type="submit"> Login</a>
			<br/>
			<span class="text-center">Si no estas registrado <a>Registrate aqui</a> </span>
		</form>
	</div>
	
	<div th:replace="footer :: footer"></div>
</body>
</html>